.nameProjectContainer {
  color:rgba(0, 170, 153, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 50px;
    padding: 24px;
    flex-direction: column;
    h1{
        -webkit-text-stroke: 2px black;
        animation: textStroking 10s linear infinite;
    }
}

@keyframes textStroking {
    0% {
        text-shadow: 2px 2px 2px #56da3b;
      
    }
    50% {
        text-shadow: 2px 2px 2px #d02f2f;
        
    }
    75% {
        text-shadow: 2px 2px 2px #e5d239;
    }
    100% {
        text-shadow: 2px 2px 2px #56da3b;
      
    }
  }




.subtitle{
    font-size: 28px;
    color: #1f1f1f;
}